:root {
        --red: #cc0000;
        --green: #317f43;
        --blue: #4682b4;
        --brown: #b97d4b;
        --headFoot: #7C7C7C;
}

* {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin: 0;
        padding: 0;
}



.container, .contBody {
        margin: 0 auto;
        width: 960px;
}


.contBody {
        padding-bottom: 300px;       
}

/* header */
header span {
        margin: 0;
}

header a {
        color: white;
        font-weight: 600;
        padding: 29px 6px;
        /* background-color: #D64933; */
}

#header-link:hover {
        background-color: #D64933;
}

.menu {
        padding-bottom: 6px;
        background-color: var(--headFoot);
        width: 100%;
}

.menu .container {
        display: flex;
        flex-direction: row;
        align-items: center;
}

.item {
        padding: 10px;
}
.item img {
        max-height: 40px;
}


/* ------------- Hier begint de footer ------------- */
footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--headFoot);
        padding-top: 10px;
        padding-bottom: 10px;
}

footer .container p, footer .container h2 {
        margin: 0;
        color: white;
}


a {
        color: blue;
}

