:root {
        --red: #cc0000;
        --green: #317f43;
        --blue: #4682b4;
        --brown: #b97d4b;
        --headFoot: #7C7C7C;
}

* {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin: 0;
        padding: 0;
}



.container, .contBody {
        margin: 0 auto;
        width: 960px;
}


.contBody {
        padding-bottom: 300px;       
}

/* ------------- Hier begint de header ------------- */
header {
        margin: 0;
        padding: 8px 0;
        background-color: var(--headFoot);
}

header img {
        max-width: 75px;
}

.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 6px;
        padding-bottom: 6px;
}



.menu a {
        color: white;
        margin: 0px 4px;
        padding: 24px 5px;
}

.menu a:hover {
        padding: 24px 5px;
        background-color: red;
}


/* ------------- Hier begint de footer ------------- */
footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--headFoot);
        padding-top: 10px;
        padding-bottom: 10px;
}

footer .container p, footer .container h2 {
        margin: 0;
        color: white;
}


/* a {
        color: blue;
}
 */
